.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: cornsilk;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  color: darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
